@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
}
::selection {
  background: #7c3aed;
  color: white;
}